*{
    margin: 0px;
    padding: 0px;
}
.conference-home-page{
    width: 400px;
    height: 600px;
    border-right: solid 8px black;
    margin-left:300px ;
    text-align: center;
    margin-top: 30px; 
}
.conference-home-page iframe{
    width: 392px;
    height: 250px;
}
.conference-home-page h1{
    color: #183b56;
    font-size: 25px;
    font-weight: bold;
    padding:20px 20px 0px 20px;
}
.conference-home-page h4{
    color: #5a7184;
    font-size: 18px;
    padding:10px;
}
.conference-home-page button{
    font-size: 15px;
    color: white;
    background-color: #2b6eff;
    width: 70px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px;
}
.conference-atends-list{
    
    width:200px;
    padding:0px 50px;
}
.conference-atends-list p{
    font-weight: bold;
    color: gray;
}
.conference-atends-list h2{
    font-weight: bold;
    font-size: 25px;
}
.conference-home-page a{
    text-decoration: none;
    color: white;
}
